{% extends 'header.html' %}

{% block content %}
{% load static %}

<!-- Navbar Zone -->
<header>
    <nav id="header-nav" class="navbar navbar-expand-lg navbar-dark ">

        <div class="container-fluid">

            <div class="">
                <a href="/" class="">
                    <div id="logo-img" alt="Logo image"></div>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartlc"
                aria-controls="navbartlc" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbartlc" class="collapse navbar-collapse ">
                <div style="display:flex; flex-direction: column; justify-items: end;" class="ml-auto">
                    <ul class="navbar-nav ml-auto" id="navitem-up">
                        <li class="nav-item">
                            <a class="nav-link" href="/ourcustomers" style="color: #FFFFFF">รายนามลูกค้า |</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/career" style="color: #FFFFFF">ร่วมงานกับเรา</a>
                        </li>
                    </ul>


                    <ul class="navbar-nav ml-auto" id="navitem-low">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" style="color:#FFFFFF;">หน้าหลัก&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus" style="color: #FFFFFF ">เกี่ยวกับเรา&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/productsnservices"
                                style="color: #FFFFFF">สินค้าและบริการ&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles" style="color: #EFCB4D">ข่าวสารและกิจกรรม&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus" style="color: #FFFFFF">ติดต่อเรา</a>
                        </li>

                    </ul>
                </div>

                <!-- <a class="hamburger-menu" onclick="myFunction()">
                    <span class="hamburger-icon"></span>
                </a> -->

            </div>

        </div>
    </nav>
</header>
<!-- END Navbar -->

<br><br>
<div class="container" id="backIcon">
    <a href="/articles"><img src="{% static 'images/IconBigArrow.svg' %}" alt=""></a>
</div>

<br>
<section class="container" id="article-dHealth">
    <div>
        <h3>4 เทรนด์ Digital Health ปี 2021-2022: วางรากฐานทาง เทคโนโลยีใหม่ สู่บริการด้านสุขภาพ</h3>
    </div>

    <div class="head-pic d-flex">
        <div style="border:solid 10px #EFCB4D; border-radius: 10px;">
        </div>
        <div style="padding:0px 65px;">
            <img src="{% static 'images/cover1.jpg' %}" alt="">
        </div>
    </div>
    <br>
    <div>
        <p>
            ในช่วงสองปีที่ผ่านมานี้ถือเป็นช่วงที่อุตสาหกรรมการแพทย์และสาธารณสุขนั้นมีการเปลี่ยนแปลงเกิดขึ้นรวดเร็วอย่างที่ไม่เคยเป็นมาก่อน
            จากการมาของภัยโรคระบาดอย่างโควิด-19 ที่ทำให้อุตสาหกรรมนี้ต่างต้องเร่งปรับตัวรับมือกันอย่างกระทันหัน
            โดยเฉพาะอย่างยิ่งในแง่ของการ นำเทคโนโลยีมาใช้เพื่อรองรับการรักษาโรคด้วยแนวทางใหม่ๆ
            ที่จะช่วยลดความเสี่ยงในการแพร่ระบาดของโรคให้ได้อย่างมีประสิทธิภาพ

            ในบทความนี้จะเป็นการสรุปเทรนด์ด้าน Digital Health ที่เกิดขึ้นทั่วโลกและในไทย
            พร้อมทำนายแนวโน้มด้านเทคโนโลยีของ
            อุตสาหกรรมการแพทย์และสาธารณสุขในอนาคตหลังจากนี้
        </p>
        <br>


        <h6>1. ก้าวสู่บริการสาธารณสุขที่ทุกคนเข้าถึงได้ ผ่านการใช้เทคโนโลยี</h6>

        <p>
            ในช่วงต้นปี 2020 ที่ผ่านมา
            หนึ่งในภารกิจสำคัญของอุตสาหกรรมการแพทย์และสาธารณสุขนั้นก็คือการเร่งรับมือกับการแพร่ระบาดของ COVID-19
            ให้ได้อย่างรวดเร็วและทั่วถึง ซึ่งในประเทศไทยนั้นเราก็ได้เห็นการพัฒนาและปรับตัวที่เกิดขึ้นหลายรูปแบบ เช่น</p>
        <ul>
            <li> การพัฒนา Mobile Application เพื่อให้ติดตาม แจ้งเตือน และจองคิวเพื่อบริหารจัดการการฉีดวัคซีน</li>
            <li> การตั้งโรงพยาบาลสนามอย่างเร่งด่วนในหลายพื้นที่นอกโรงพยาบาล รวมถึงรถพยาบาลและรถตรวจผู้ป่วย
                พร้อมเทคโนโลยีและระบบโครงข่ายเพื่อเชื่อมโยงข้อมูลการรักษาระหว่างกัน</li>
            <li>การพัฒนาระบบสำหรับติดตามผู้มีความเสี่ยงที่กักกันตัว</li>
            <li>การพัฒนาระบบ Data Analytics Dashboard เพื่อวิเคราะห์ข้อมูลและทำนายแนวโน้มการแพร่ระบาดของโรค</li>
            <li>การนำเทคโนโลยีระบบ Video Conference มาใช้เพื่อรองรับการสื่อสารรักษาทางไกลแบบ Telemedicine</li>
            <li>การนำ Chatbot มาใช้เพื่อตอบคำถามและบริหารจัดการด้านการสื่อสารปริมาณมหาศาล</li>
            <li>การนำอุปกรณ์ Wearable Device และ IoT มาใช้ในการติดตามผู้ป่วยหรือผู้กักกันตัว</li>
            <li>การนำเทคโนโลยี Touchless มาใช้เพื่อลดการสัมผัสในโรงพยาบาลหรือโรงพยาบาลสนาม</li>
            <li>การพัฒนาระบบ Call Center ฉุกเฉินสำหรับการให้บริการและรับแจ้งข้อมูลผู้ป่วย</li>
            <li>การนำ AI มาใช้วิเคราะห์ข้อมูลผู้ป่วย
                เป็นข้อมูลสำหรับช่วยประกอบการตัดสินใจในการดำเนินการรักษาได้อย่างรวดเร็วและแม่นยำ</li>
        </ul>
        <p>
            โครงการเหล่านี้เป็นเพียงการพัฒนาและปรับตัวส่วนหนึ่งที่เกิดขึ้นเท่านั้น
            ซึ่งโครงการเหล่านี้ก็ได้ส่งผลให้เกิดความเปลี่ยนแปลง ในวงการ สาธารณสุขเป็นวงกว้าง
            ในการเปิดรับนำเทคโนโลยีมาใช้
            และก้าวข้ามข้อจำกัดต่างๆ ที่เคยมีในการทำงานเพื่อรับมือกับภัยโรคระบาดครั้งนี้ เรียกได้ว่าเป็นการเปลี่ยนแปลง
            Mindset ครั้งใหญ่ของบุคลากรในวงการเลยทีเดียว</p>
        <p>
            แน่นอนว่าแนวทางเหล่านี้จะยังคงอยู่กับวงการการแพทย์และสาธารณสุขต่อเนื่องไปอีกหลังจากนี้
            แม้ว่าภัยโรคระบาดจะเริ่มคลี่คลาย ลงแล้ว จากการมาของวัคซีนที่ผู้คนทั่วโรคได้รับกัน
            ดังนั้นการลงทุนด้านระบบเทคโนโลยีทางการแพทย์นี้ก็จะยังคงเกิดขึ้นต่อไป ไม่ว่าจะเป็นการพัฒนาระบบ Application
            ทางการแพทย์ใหม่ๆ, โครงการด้าน AI สำหรับการรักษา, การพัฒนาระบบ Telemedicine
            ให้ต่อยอดมากขึ้นและสอดคล้องกับกระบวนการการรักษามากยิ่งขึ้น ไปจนถึงการใช้งานระบบ Healthcare Application
            ผ่านทาง
            Cloud
            เพื่อให้กระบวนการการเปิดโรงพยาบาลสนามหรือจุดตรวจรักษาผู้ป่วยนอกสถานที่เป็นไปได้อย่างคล่องตัวยิ่งขึ้นกว่าเดิม
        </p>

        <p>อ้างอิงจากรายงาน Enterprise ICT Investment Trends 2021 Healthcare Sector(1) ที่เผยแพร่มาในเดือนพฤศจิกายน 2021
            ได้ระบุถึงผลสำรวจทางด้านเป้าหมายในการลงทุนทางเทคโนโลยีของอุตสาหกรรมการแพทย์และสาธารณสุขทั่วโลกเอาไว้ดังนี้
        </p>

        <div class="sub-pic">
            <img src="{% static 'images/img1.jpg' %}" alt="">
        </div>
        <br>
        <ul>
            <li>เพิ่มผลสัมฤทธิ์ในการรักษาผู้ป่วย 85.5%</li>
            <li>เพิ่มประสิทธิภาพในการดำเนินงาน 78%</li>
            <li>นำเสนอประสบการณ์การรักษาที่ดีขึ้นให้กับผู้ป่วย 76.9%</li>
            <li>ลดค่าใช้จ่ายในการดำเนินการ 73.1%</li>
            <li>เพิ่มความสามารถในการผสานระบบร่วมกัน 73.1%</li>
            <li>ตอบรับต่อข้อบังคับใหม่ๆ ทางกฎหมาย 71.0%</li>
        </ul>

        <p>นอกจากนี้ในรายงานฉบับเดียวกันยังระบุว่าธุรกิจในอุตสาหกรรมนี้ทั่วโลกมีสัดส่วนการลงทุนของระบบ Software
            เติบโตยิ่งขึ้นดังนี้</p>
        <ul>
            <li>ระบบ Enterprise Application มีสัดส่วนสูงสุดที่ 16.6% โดยระบบ Medical Health Records,
                ePrescribing/Pharmacy
                Systems และ Clinical Decision Support Systems (CDSS) เป็นสามระบบที่ได้รับความสำคัญมากที่สุด
                ตามมาด้วยระบบ
                Asset Tracking, Patient Tracking, Telehealth และ Laboratory Systems เป็นระบบที่สำคัญตามมา</li>
            <li>ระบบ Communication Software มีสัดส่วนรองลงมาที่ 15.1% โดยมีองค์กรกว่า 84%
                ที่ได้ลงทุนในระบบดังกล่าวไปแล้ว
                และ 72% ยังคงมีแผนที่จะลงทุนต่อเนื่องเพิ่มเติม</li>
            <li>ระบบ Storage และ Data Management & Analytics มีสัดส่วนเท่ากันที่ 14.8% โดยมีองค์กรกว่า 67%
                ที่ได้ลงทุนใช้งาน
                Business Intelligence หรือ Data Discovery ไปแล้ว และมี 62% ที่ใช้ Big Data ในขณะ 60% เริ่มมีการใช้งาน AI
                อยู่แล้ว และ 65% มีแผนที่จะลงทุนในระบบ AI เพิ่มเติม </li>
        </ul>

        <p>ทั้งหมดนี้ได้ชี้ให้เห็นชัดว่าในอนาคต
            อุตสาหกรรมการแพทย์และสาธารณสุขจะต้องก้าวไปสู่การผสมผสานระหว่างการรักษาด้วยวิธีการแบบเดิม
            พร้อมกับการนำเทคโนโลยีมาใช้เพื่อสร้างช่องทางและประสบการณ์ใหม่ในการดูแลรักษาผู้ป่วย
            เปิดโอกาสให้ผู้ป่วยมีทางเลือก ในการเข้าถึงบริการ ด้านสาธารณสุขในช่องทางที่หลากหลายมากยิ่งขึ้น
            ในขณะที่การดำเนินการในโรงพยาบาลนั้น ก็จะต้องมีเทคโนโลยีดิจิทัล เข้าไปเป็นองค์ประกอบที่สำคัญ</p>

        <h6>2. การเร่งลงทุนระบบ IT Infrastructure และ Cloud พร้อมการเปิดรับ Managed Services เพื่อความคล่องตัวในการทำงาน
        </h6>
        <p>แน่นอนว่าในการเปิดรับนำเทคโนโลยีดิจิทัลที่หลากหลายเข้ามาใช้งานอย่างรวดเร็วนี้ ก็ย่อมทำให้หน่วยงานสาธารณสุข
            และโรงพยาบาลนั้น ต่างต้องเร่งปรับปรุงระบบ IT Infrastructure เพื่อรองรับเทคโนโลยีใหม่ๆ อย่างเร่งด่วน
            รวมถึงมีการใช้งาน Cloud ที่เติบโตมากยิ่งขึ้นเพื่อให้สามารถขยายบริการสาธารณสุขในแบบดิจิทัลได้อย่างคล่องตัว
        </p>

        <p>ในขณะเดียวกัน เมื่อมีการใช้งานเทคโนโลยีมากขึ้น ภาระด้านการดูแลรักษาระบบ IT
            เหล่านี้ก็เพิ่มขึ้นเป็นเงาตามตัวด้วย แต่การลงทุนจัดจ้างพนักงานฝ่าย IT
            เพิ่มเติมท่ามกลางวิกฤตและภาวะที่มีการแข่งขันดึงตัวบุคลากร ที่มีความรู้ความชำนาญเหล่านี้ก็ไม่ใช่เรื่อง
            ง่ายสำหรับอุตสาหกรรมการแพทย์และสาธารณสุข ดังนั้นบริการแบบ Managed Services ที่นอกจากจะทำให้ธุรกิจสามารถลงทุน
            ใช้งานเทคโนโลยีได้โดยคิดค่าใช้จ่ายตามการใช้งานจริงแล้ว
            ก็ยังช่วยให้องค์กรเอาชนะความท้าทายด้านบุคลากรได้ด้วยการที่มีทีมงานผู้ดูแลรักษาระบบมาให้บริการในทุกๆ
            เทคโนโลยีที่ต้องการได้ทันทีใน Service Level Agreement (SLA) ระดับที่ต้องการ
            โดยที่องค์กรไม่ต้องมีภาระด้านการจัดจ้างบุคลากรด้วยตนเอง</p>

        <p>รายงาน Enterprise ICT Investment Trends 2021 Healthcare Sector (1)
            ระบุถึงสัดส่วนการลงทุนทางด้านเทคโนโลยีในภาพรวมของปี 2021 ทั่วโลกดังนี้</p>

        <div class="sub-pic">
            <img src="{% static 'images/img2.jpg' %}" alt="">
        </div>
        <br>
        <ul>
            <li>ค่าใช้จ่ายในการดูแลรักษาบำรุงระบบ IT ที่มีอยู่เดิม 18.3%</li>
            <li>ค่าใช้จ่ายในการลงทุนด้านระบบ Software ใหม่ 17.0% โดยมีการลงทุนในระบบ Application, Communication
                Software,
                Storage, Data Management & Analytics สูงสุดตามลำดับ</li>
            <li>ค่าใช้จ่ายในการลงทุนด้านระบบ Hardware ใหม่ 16.7% โดยมีการลงทุนในอุปกรณ์ Network, Server, Security และ
                Storage
                สูงสุดตามลำดับ</li>
            <li>ค่าใช้จ่ายในการลงทุนด้านระบบ Network และ Communication ใหม่ 16.0% โดยมีการลงทุนในระบบ IP Telephony,
                Mobile
                Communication, Broadband และ Fixed Voice สูงสุดตามลำดับ</li>
            <li>ค่าใช้จ่ายในการลงทุนด้านบริการ ICT ใหม่ 15.0%</li>
            <li>ค่าใช้จ่ายในการลงทุนด้านบริการให้คำปรึกษา 14.3%</li>
            <li>Xในการใช้บริการ Managed Services มีการใช้งานในส่วนของ Application สูงสุด ตามมาด้วย Hosting & Data
                Center,
                Security & Privacy, Systems Integration และ Desktop & User Support ตามลำดับ</li>
        </ul>

        <h6>3. เตรียมพร้อมนำ IoT มาใช้ เปิดช่องทางการรวบรวมข้อมูลผู้ป่วย สู่การรักษาในเชิงรุกจากทุกที่ทุกเวลา</h6>
        <p>เทคโนโลยี Internet of Things (IoT) ก็เป็นอีกกลุ่มเทคโนโลยีที่อุตสาหกรรมการแพทย์และสาธารณสุขให้ความสนใจ
            ไม่ว่าจะเป็นการนำ Sensor หรือ IoT ไปใช้ปรับปรุงโรงพยาบาลเพื่อให้สามารถทำงานได้แบบ Touchless
            ลดความเสี่ยงให้กับบุคลากรทางการแพทย์และผู้ป่วย,
            การนำหุ่นยนต์มาใช้ในการบริการรับส่งอุปกรณ์การแพทย์หรือสิ่งของต่างๆ แก่ผู้ป่วย ไปจนถึงการประยุกต์ใช้ Wearable
            Device เพื่อติดตามข้อมูลสุขภาพของผู้ป่วยและผู้กักกันตัวโดยอัตโนมัติ
            ที่จะนำไปสู่ภาพของการรักษารูปแบบใหม่ในอนาคต
            เช่น Predictive Care, Preventive Care หรือแม้แต่ Personalized Medication ก็ตาม</p>

        <p>นอกเหนือจากการที่อุตสาหกรรมนี้จะมีการประยุกต์ใช้งาน IoT รูปแบบใหม่ๆ ที่หลากหลายแล้ว การพิจารณาระบบโครงข่าย
            เพื่อรองรับอุปกรณ์ IoT เหล่านี้ก็เป็นอีกปัจจัยสำคัญ เพราะการเลือกใช้ระบบโครงข่ายที่เหมาะสม
            และตอบโจทย์ได้นั้นก็จะกลายเป็น โครงสร้างพื้นฐานที่สำคัญในการต่อยอดเทคโนโลยีในระยะยาว</p>

        <p> รายงาน Enterprise ICT Investment Trends 2021 Healthcare Sector ได้เผยผลสำรวจของการเลือกใช้เทคโนโลยีโครงข่าย
            สำหรับ IoT ดังนี้</p>

        <div class="sub-pic">
            <img src="{% static 'images/img3.jpg' %}" alt="">
        </div>
        <br>
        <ul>
            <li>ในปัจจุบัน มีการเลือกใช้ Public LTE/5G มากที่สุดด้วยสัดส่วน 82% และใช้งาน Private LTE/5G ที่ 62%
                ตามมาด้วย Short
                Range, Satellite, Wireline, LoRa, NB-IoT, eMTC และ Sigfox ตามลำดับ</li>
            <li>สำหรับในอนาคต 2 ปีนับถัดจากนี้ ทุกเทคโนโลยีข้างต้นจะยังคงถูกใช้งานไปอย่างต่อเนื่อง
                แต่การลงทุนในสัดส่วนที่เพิ่มขึ้นนั้นจะเกิดขึ้นกับ LoRa, eMTC และ Sigfox</li>
            <li>สำหรับประเทศไทยที่มีความพร้อมของเทคโนโลยี 5G สูงเป็นอันดับต้นๆ ของโลกทั้งในแง่ของความเร็ว
                และพื้นที่ครอบคลุมนั้นก็อาจ มีแนวโน้มที่ต่างออกไป ซึ่งที่ผ่านมาในประเทศไทยก็มีการทดสอบใช้งาน 5G
                ในหลากหลายอุตสาหกรรม โดยในทางการแพทย์ ก็ได้มีการทดสอบการผ่าตัดระยะไกลผ่านโครงข่าย 5G, โครงการในการใช้
                NB-IoT
                สำหรับติดตาม Smart Wearable Device ไปจนถึงการเชื่อมต่อรถพยาบาลหรือการออกหน่วยสาธารณสุขมากมาย</li>
        </ul>

        <h6>4. การเสริมประเด็นด้าน Cyber Security และ Data Privacy สำหรับระบบบริหาร จัดการโรงพยาบาล และการปกป้อง
            ข้อมูลผู้ป่วย</h6>

        <p> สุดท้าย เมื่อมีการใช้งานเทคโนโลยีอย่างหลากหลายภายในอุตสาหกรรมการแพทย์และสาธารณสุข
            ประเด็นด้านการปกป้องรักษาความมั่นคง ปลอดภัยและความเป็นส่วนตัวก็ได้รับความสำคัญสูงยิ่งขึ้น
            เพื่อสร้างความมั่นคงให้กับบริการทางการแพทย์ และสร้างความมั่นใจ ให้กับผู้ป่วยที่มาใช้บริการสาธารณสุข</p>

        <p>แรงขับเคลื่อนหลักที่ทำให้ประเด็นด้าน Cyber Security
            ได้รับความสำคัญขึ้นมานั้นก็มาจากการใช้งานเทคโนโลยีดิจิทัลที่เพิ่มขึ้น และการใช้งาน Cloud ที่มากขึ้น
            รวมถึงข่าวสารด้านการเจาะโจมตีระบบที่เกิดขึ้นอย่างต่อเนื่องทั่วโลก ทำให้อุตสาหกรรมนี้
            ในประเทศไทยก็ตื่นตัวกันมากขึ้นเช่นกัน</p>

        <p>ในขณะที่แรงขับเคลื่อนหลักทางด้าน Data Privacy นั้นเกิดขึ้นจากการประกาศ พรบ.คุ้มครองข้อมูลส่วนบุคคล
            ที่เคยกำหนดวันบังคับใช้
            แล้วในปี 2020 ที่ผ่านมา แต่ต้องถูกเลื่อนมาปี 2021 และถูกเลื่อนอีกครั้งไปยังปี 2022
            จากการแพร่ระบาดของโควิด-19
            ซึ่งก็ทำให้หน่วยงานแต่ละแห่งมีโอกาสได้ทำการศึกษาและวางแผนตอบรับต่อข้อกฎหมายนี้ได้อย่างรัดกุมยิ่งขึ้น</p>

        <p>ตัวอย่างโครงการระบบ Digital Health จาก AIS Business ที่เกิดขึ้นจริงแล้วในประเทศไทย</p>

        <p>AIS Business พร้อมเป็นผู้ช่วยในการขับเคลื่อนระบบ Digital Health ให้กับอุตสาหกรรมการแพทย์และสาธารณสุขทั่วไทย
            ทั้งด้วยเทคโนโลยี 5G, Cloud, AI และทีมงานวิศวกรผู้เชี่ยวชาญที่พร้อมให้คำปรึกษาออกแบบระบบร่วมกันอย่างใกล้ชิด
            โดยสำหรับหน่วยงานที่กำลังมองหา เทคโนโลยี IoT สำหรับการแพทย์ ทาง AIS IoT
            ก็พร้อมนำเสนอเทคโนโลยีที่ครอบคลุมในทุกระดับชั้นของการสร้างสรรค์นวัตกรรม ดังนี้</p>

        <ul>
            <li>Hardware เช่น อุปกรณ์ Sensor ในรูปแบบต่างๆ, ชุดพัฒนา IoT (Development Kit), และ eSIM
                เพื่อรองรับการนำไปพัฒนาต่อยอดเป็นโซลูชั่น IoT ตามที่ต้องการ รองรับการเชื่อมต่อเครือข่ายได้หลายรูปแบบ
            </li>
            <li>Connectivity สำหรับการใช้งานอุปกรณ์ IoT ทั้งระบบโครงข่ายมีสาย และไร้สาย อาทิ NB-IoT/eMTC, 3G/4G, 5G,
                Fibre
                และการออกแบบเครือข่ายเฉพาะหรือ Corporate APN พร้อมตอบทุกโจทย์การเชื่อมต่อระบบ IoT เข้ากับเครือข่าย</li>
            <li>Platform สำหรับการบริหารจัดการการเชื่อมต่อ, การจัดเก็บรวมรวมข้อมูลจากอุปกรณ์ IoT และระบบสำหรับการพัฒนา
                IoT
                Application พร้อมให้นำไปใช้งานได้โดยไม่ต้องพัฒนาและดูแลระบบ IT Infrastructure เบื้องหลังด้วยตนเอง</li>
            <li>IoT Solutions โซลูชันสำเร็จรูปพร้อมใช้งาน เช่น Vehicle Management สำหรับบริหารจัดการรถพยาบาล, Car
                Telematics
                สำหรับติดตามสภาพรถพยาบาล, Smart Asset Management สำหรับติดตามอุปกรณ์ทางการแพทย์และเครื่องมือต่างๆ
                ที่ต้องใช้งาน
                และอื่นๆ อีกมากมาย</li>
        </ul>

        <p>ผู้ที่สนใจรายละเอียดเพิ่มเติมสามารถศึกษาข้อมูลได้ที่:<a href=" https://business.ais.co.th/iot/index.html"
                target="_blank">
                https://business.ais.co.th/iot/index.html
            </a></p>
    </div>
    <br><br>
</section>
<br><br>



{% endblock %}