{% extends 'header.html' %}

{% block content %}
{% load static %}

<!-- Navbar Zone -->
<header>
    <nav id="header-nav" class="navbar navbar-expand-lg navbar-dark ">

        <div class="container-fluid">

            <div class="">
                <a href="/" class="">
                    <div id="logo-img" alt="Logo image"></div>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartlc"
                aria-controls="navbartlc" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbartlc" class="collapse navbar-collapse " >
                <div style="display:flex; flex-direction: column; justify-items: end;" class="ml-auto">
                    <ul class="navbar-nav ml-auto" id="navitem-up">
                        <li class="nav-item">
                            <a class="nav-link" href="/ourcustomers" style="color: #FFFFFF">รายนามลูกค้า |</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/career" style="color: #FFFFFF">ร่วมงานกับเรา</a>
                        </li>
                    </ul>


                    <ul class="navbar-nav ml-auto" id="navitem-low">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" style="color:#FFFFFF;">หน้าหลัก&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus" style="color: #FFFFFF ">เกี่ยวกับเรา&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/productsnservices"
                                style="color: #FFFFFF">สินค้าและบริการ&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles" style="color: #EFCB4D">ข่าวสารและกิจกรรม&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus" style="color: #FFFFFF">ติดต่อเรา</a>
                        </li>

                    </ul>
                </div>

                <!-- <a class="hamburger-menu" onclick="myFunction()">
                    <span class="hamburger-icon"></span>
                </a> -->

            </div>

        </div>
    </nav>
</header>
<!-- END Navbar -->

<br><br>
<div class="container" id="backIcon">
    <a href="/articles"><img src="{% static 'images/IconBigArrow.svg' %}" alt=""></a>
</div>

<br>
<section class="container" id="article-IOT">
    <div>
        <h3>IoT หรือ Internet of Things คืออะไร</h3>
    </div>

    <div class="head-pic d-flex">
        <div style="border:solid 10px #EFCB4D; border-radius: 10px;">
        </div>
        <div style="padding:0px 65px; ">
            <img src="{% static 'images/cover3.jpg' %}" alt="">
        </div>
    </div>

    <br>
    <div>
        <p>Internet of Things (IoT) คือ การที่อุปกรณ์อิเล็กทรอนิกส์ต่างๆ
            สามารถเชื่อมโยงหรือส่งข้อมูลถึงกันได้ด้วยอินเทอร์เน็ต โดยไม่ต้องป้อนข้อมูล
            การเชื่อมโยงนี้ง่ายจนทำให้เราสามารถสั่งการควบคุมการใช้งานอุปกรณ์อิเล็กทรอนิกส์ต่างๆ
            ผ่านทางเครือข่ายอินเตอร์เน็ตได้ ไปจนถึงการเชื่อมโยงการใช้งานอุปกรณ์อิเล็กทรอนิกส์ต่างๆ
            ผ่านทางเครือข่ายอินเตอร์เน็ตเข้ากับการใช้งานอื่นๆ จนเกิดเป็นบรรดา Smart ต่างๆ ได้แก่ Smart Device, Smart
            Grid,
            Smart Home, Smart Network, Smart Intelligent Transportation ทั้งหลายที่เราเคยได้ยินนั่นเอง
            ซึ่งแตกต่างจากในอดีตที่อุปกรณ์อิเล็กทรอนิกส์เป็นเพียงสื่อกลางในการส่งและแสดงข้อมูลเท่านั้น</p>

        <p>กล่าวได้ว่า Internet of Things นี้ได้แก่การเชื่อมโยงของอุปกรณ์อัจฉริยะทั้งหลายผ่านอินเทอร์เน็ตที่เรานึกออก
            เช่น
            แอปพลิเคชัน แว่นตากูเกิลกลาส รองเท้าวิ่งที่สามารถเชื่อมต่อข้อมูลการวิ่ง ทั้งความเร็ว ระยะทาง สถานที่
            และสถิติได้</p>

        <p>นอกจากนั้น Cloud Storage หรือ บริการรับฝากไฟล์และประมวลผลข้อมูลของคุณผ่านทางออนไลน์ หรือเราเรียกอีกอย่างว่า
            แหล่งเก็บข้อมูล บนก้อนเมฆ เป็นอีกสิ่งหนึ่งที่เราใช้งานบ่อยๆแต่ไม่รู้ว่าเป็นหนึ่งในรูปแบบของ Internet of
            Things
            สมัยนี้ผู้ใช้นิยมเก็บข้อมูลไว้ในก้อนเมฆมากขึ้น เนื่องจากมีข้อดีหลายประการ คือ
            ไม่ต้องกลัวข้อมูลสูญหายหรือถูกโจรกรรม ทั้งยังสามารถกำหนดให้เป็นแบบส่วนตัวหรือสาธารณะก็ได้ เข้าถึงข้อมูล
            ได้ทุกที่ทุกเวลาด้วยอุปกรณ์อิเล็กทรอนิกส์ใดๆ ผ่านเครือข่ายอินเตอร์เน็ต แถมยังมีพื้นที่ใช้สอยมาก
            มีให้เลือกหลากหลาย ช่วยเราประหยัดค่าใช้จ่ายได้อีกด้วย !!</p>


        <h6>การประยุกต์ใช้ Internet of Things (IoT)</h6>
        <p>
            ความสามารถในการเชื่อมต่ออุปกรณ์ที่หลากหลายเข้ากับโครงข่ายอินเทอร์เน็ตเปิดโอกาสให้มีการ
            ประยุกต์ใช้งานที่หลากหลายและกว้างขวางมาก โดยรูปแบบการเชื่อมต่ออุปกรณ์เซ็นเซอร์ต่างๆ จำนวนมากเข้า
            กับโครงข่าย จะช่วยให้สามารถตรวจวัดข้อมูลที่หลากประเภทประเภทได้เป็นจำนวนมาก และช่วยให้สามารถนำ
            ข้อมูลเหล่านั้นมาวิเคราะห์และแสดงผลแบบกราฟฟิกเพื่อใช้ในการตัดสินใจได้ เมื่อนำระบบดังกล่าวผนวกเข้ากับ
            ระบบ Big Data จะช่วยให้สามารถวิเคราะห์ข้อมูลที่มีความซับซ้อน มีจำนวนมาก และ ทันเหตุการณ์ (real-time)
            ตัวอย่างของการประยุกต์ใช้งาน Internet of Things มีดังต่อไปนี้</p>

        <h6>Smart home</h6>
        <ul>
            <li>Smart home หรือ บ้านอัจฉริยะ คือการใช้เทคโนโลยีมาควบคุมอุปกรณ์ต่างๆภายในบ้าน
                เพื่ออำนวยความสะดวกแก่ผู้อยู่อาศัย
                , มีระบบการจัดการพลังงาน ระบบรักษาความปลอดภัยอัตโนมัติทั้งภายในและรอบตัวบ้าน
                ส่วนใหญ่จะควบคุมด้วยระบบคอมพิวเตอร์
                โดยทั่วไปเรียกว่า home automation ซึ่งสามารถถูกจำแนกความสามารถและความซับซ้อนในการควบคุมออกเป็น</li>
            <li> ระบบควบคุมไฟฟ้าแสงสว่าง เช่น เปิด/ปิด หรือปรับระดับความสว่าง</li>
            <li>ระบบควบคุมอุปกรณ์ไฟฟ้าภายในบ้าน เช่น สั่งงานเครื่องปรับอากาศ หรือการเปิดปิดม่าน</li>
            <li>ระบบความบันเทิงภายในบ้าน เช่น สั่ง Internet radio ให้ทำงานในห้องที่ ผู้ใช้อยู่
                และปิดเมื่อผู้ใช้ออกจากห้อง</li>
            <li>ระบบบริหารพลังงาน และพลังงานสำรอง เช่น การปิด/เปิด เครื่องใช้ไฟฟ้าต่างๆโดยขึ้นกับสิ่งแวดล้อม</li>
            <li>ระบบสื่อสาร เช่น รับ/ส่ง ข้อความหรือคำสั่งระหว่างผู้ใช้</li>
            <li>ระบบรักษาความปลอดภัย เช่น เชื่อมต่อระบบกันขโมย/กล้อง กับ บ.รักษาความปลอดภัย</li>
        </ul>

        <div class="sub-pic">
            <img src="{% static 'images/img4.jpg' %}" alt="">
        </div>

        <h6>Smart wearable</h6>
        <p>Wearable คืออุปกรณ์ที่ถูกออกแบบมาให้สวมใส่ตามส่วนต่างๆ ของร่างกาย เพื่อเก็บข้อมูลแล้วนำไปประมวลผลต่อ
            หรือตอบสนองความต้องการด้านโสตประสาท เช่น การเก็บข้อมูลต่างๆของร่างกายเพื่อนำไปประมวลผลด้านสุขภาพ,
            การฟังเพลงไร้สาย, การดูหนังเสมือนได้เข้าไปอยู่ในโรงภาพยนต์จริงๆ เป็นต้น</p>



        <h6>Smart City</h6>
        <p> สมาร์ตซิตี้ (smart city) หรือ “เมืองอัจฉริยะ”
            เป็นแนวคิดที่หมายถึงระบบที่เชื่อมโยงถึงกันซึ่งเป็นส่วนหนึ่งของโครงสร้างพื้นฐานของเมือง
            แนวคิดเบื้องหลังของเมืองอัจฉริยะคือการที่สภาพแวดล้อมสามารถรับรู้และปรับเปลี่ยนตัวเองเพื่อส่งมอบบริการที่มีประสิทธิภาพสูงสุดให้กับผู้อยู่อาศัย
        </p>

        <p>ระบบไฟจราจรที่เชื่อมโยงกัน ทำให้รถรู้ว่าควรจะหยุดตอนไหน และคนเดินถนนรู้ว่าควรข้ามถนนเมื่อไร
            ในที่สุดระบบสัญญาณจราจร ก็พัฒนาเซ็นเซอร์​ (sensor) เพื่อตรวจจับการเคลื่อนไหวของรถยนต์
            แทนที่จะใช้เพียงการจับเวลา
            ระบบอย่างการสอดแนมด้วยกล้องวงจรปิด (CCTV) ระบบวิเคราะห์ใบหน้า ระบบอ่านป้ายทะเบียนรถยนต์​
            ระบบเหล่านี้สร้างข้อมูลขึ้นมาแม้ว่าเราจะไม่ได้กำลังพกพาอุปกรณ์อิเล็กทรอนิกส์ใดๆ
            แค่สัญจรอยู่บนท้องถนนเราก็ป้อนข้อมูลบางอย่างให้กับระบบแล้ว</p>


        <h6>Smart grids</h6>
        <p>“สมาร์ทกริด” (Smart Grid) คือ ระบบโครงข่ายสำหรับส่งไฟฟ้าอัจฉริยะแบบครบวงจรโดยใช้เทคโนโลยีดิจิทัล
            สมาร์ทกริดทำหน้าที่ส่งไฟฟ้า
            จากผู้ให้บริการไปยังผู้ใช้บริการด้วยระบบการสื่อสารสองทางเพื่อควบคุมเครื่องใช้ไฟฟ้า ณ
            บ้านของผู้ใช้ ซึ่งจะช่วยให้สามารถบริหารจัดการ การใช้พลังงานไฟฟ้าได้อย่างมีประสิทธิภาพ
            โดยบริษัทที่ให้บริการระบบส่งจ่ายไฟฟ้าสมาร์ทกริด ได้พัฒนาโปรแกรมพร้อมกับติดตั้งอุปกรณ์
            ที่สามารถตรวจสอบการใช้ไฟฟ้าได้ตามเวลาจริง (Real Time) ไว้ที่แต่ละครัวเรือนว่ามีการใช้ไฟฟ้าเท่าไหร่
            จุดไหนใช้มากน้อยอย่างไร เพื่อช่วยคำนวณ การแจกจ่ายกระแสไฟของเมือง ช่วยให้การจ่ายกระแสไฟฟ้ามีความเสถียร
            ลดปัญหาไฟดับในช่วงที่มีการใช้ไฟสูง ทั้งยังทำให้ผู้ใช้สามารถ
            เห็นพฤติกรรมและปรับลดการใช้พลังงานของตัวเองได้อย่างมีประสิทธิภาพ</p>

        <div class="sub-pic">
            <img src="{% static 'images/img5.jpg' %}" alt="">
        </div>

        <h6>Connected Car</h6>
        <p>Connected Car เป็นการประยุกต์ใช้งานอย่างหนึ่งของ Internet of Things (IoT)
            โดยเป็นการนำเทคโนโลยีดิจิทัลมาประยุกต์ใช้ กับยานยนต์และการคมนาคมขนส่ง ทำให้รถยนต์สามารถสื่อสารกับสิ่งต่างๆ
            รถยนต์จะกลายเป็นเซนเซอร์เคลื่อนที่ที่ช่วยเก็บรวบรวมข้อมูลจากท้องถนน ได้แก่ ข้อมูลอากาศ
            สภาพถนนและความหนาแน่นของจราจร จึงอาจเปรียบรถยนต์ได้กับ สถานีตรวจวัดอากาศเคลื่อนที่ ที่พร้อมส่งข้อมูล
            ของสภาพแวดล้อมต่างๆ จากพื้นที่จริง รถยนต์จึงนับแหล่งเก็บข้อมูลที่น่าเชื่อถือและต่อยอดประโยชน์ได้อย่างมาก</p>

        <p>Connected Car จะทำให้เกิดบริการแอพพลิเคชันและรูปแบบธุรกิจใหม่ๆ ที่ช่วยให้การคมนาคมขนส่งมีความปลอดภัยมากขึ้น
            มีประสิทธิภาพคล่องตัวมากขึ้น ช่วยอำนวยความสะดวกสบายให้แก่ผู้เดินทาง ดังนี้</p>
        <ul>
            <li>บริการด้านข่าวสารและความบันเทิง (Infotainment) โดยผู้โดยสารรถยนต์สามารถดูหนังฟังเพลงจากในรถที่ sync
                ข้อมูลกับโทรศัพท์มือถือ ทำให้ประสบการณ์ในการใช้งานระหว่างอุปกรณ์เป็นไปอย่างลื่นไหล</li>
            <li>บริการประกันภัยที่คิดเงินตามการขับจริง (Usage-based Insurance)
                โดยจากข้อมูลลักษณะการขับขี่จะทำให้บริษัทประกันภัยสามารถประเมินความเสี่ยงของผู้ขับขี่ได้ดีขึ้น
                และนำมาคิดค่าเบี้ยประกันตามพฤติกรรมในการขับรถได้</li>
            <li>บริการช่วยเหลือฉุกเฉิน ในกรณีที่ผู้ขับขี่ประสบอุบัติเหตุ
                หน่วยงานให้ความช่วยเหลือฉุกเฉินสามารถให้ความช่วยเหลือได้อย่างทันท่วงที ตัวอย่างเช่น
                ในยุโรปได้มีบริการที่เรียกว่า eCall
                กำหนดให้รถยนต์ใหม่ทุกคันต้องติดตั้งอุปกรณ์ที่จะโทรเรียกหมายเลขฉุกเฉิน 112
                โดยอัตโนมัติเมื่อเกิดอุบัติเหตุการชนรุนแรง และส่งข้อมูลการทำงานของถุงลมนิรภัย
                และพิกัดของรถยนต์ให้หน่วยงานให้ความช่วยเหลือฉุกเฉินทราบ
                ซึ่งจะช่วยลดระยะเวลาการให้ความช่วยเหลือผู้ประสบเหตุได้ถึง 40-50%</li>
            <li>บริการตรวจเช็ครถยนต์จากระยะไกล (Remote Diagnostic and Maintenance)
                โดยเซนเซอร์ที่อยู่บนรถยนต์จะตรวจวัดสภาพรถและส่งข้อมูลไปยังศูนย์บริการโดยอัตโนมัติ
                ทำให้ศูนย์บริการสามารถวิเคราะห์สภาพรถและพยากรณ์การเสียของรถได้ล่วงหน้าแล้วแจ้งให้ผู้ขับขี่นำรถมาซ่อมได้ก่อนที่จะเกิดการเสียจริง
            </li>
            <li>การสื่อสารของรถยนต์กับสิ่งรอบตัว (Vehicle-to-Everything Communications: V2X)
                โดยมีทั้งการสื่อสารระหว่างรถยนต์
                (Vehicle-to-vehicle: V2V) เช่น รถยนต์คันหน้าแจ้งเตือนรถยนต์ที่ตามมาเมื่อมีการเบรกเพื่อความปลอดภัย
                การสื่อสารระหว่างรถและโครงสร้างพื้นฐาน (Vehicle-to-infrastructure: V2I) เช่น
                สัญญาณไฟจราจรอาจแจ้งให้รถหลีกเลี่ยงเส้นทางรถติด ช่วยให้การคมนาคมคล่องตัวขึ้น</li>
            <li>การประยุกต์ใช้ข้อมูลขนาดใหญ่ (Big Data) โดยสามารถนำข้อมูลจากเซนเซอร์ต่างๆ
                ที่ติดตั้งในรถยนต์มาใช้ในการวิเคราะห์เพื่อปรับปรุงระบบการคมนาคมขนส่งและการพัฒนาเมือง
                ตามแนวคิดของเมืองอัจฉริยะ
                (Smart City) ได้</li>
            <li>การขับขี่โดยอัตโนมัติ (Automated Driving) โดยนำการสื่อสารมาใช้ร่วมกับเซนเซอร์ต่างๆ
                ซึ่งใช้ในการตรวจจับสิ่งที่อยู่รอบตัว</li>
        </ul>

        <h6>Smart retail</h6>
        <p>คือการจัดการระบบร้านค้าด้วยการส่งข้อมูลไปถึงมือลูกค้าอย่างฉับไว
            จะดีเพียงใดถ้าเพียงลูกค้าเดินผ่านประตูร้านเข้ามาก็ได้รับการทักทาย
            จะเพิ่มโอกาสและแรงจูงใจในการจับจ่ายสินค้าได้มากแค่ไหน หากสามารถนำเสนอสินค้าต้องตามรสนิยม
            หรือแม้แต่มอบส่วนลดได้ตรงใจ ลูกค้าอย่างรวดเร็ว ถึงมือ จะสร้างความพึงพอใจให้กับลูกค้าได้แค่ไหน
            เมื่อไม่ต้องเสียเวลาหรือถูกกวนใจกับข้อมูลสินค้าและโปรโมชั่นที่ไม่ต้องการ
            และไม่เพียงส่งข้อมูลที่เหมาะสมตรงถึงลูกค้าเท่านั้น ยังสามารถเก็บข้อมูลและสถิติในรูปแบบต่างๆ
            ที่ธุรกิจจะสามารถนำ
            ไปปรับใช้กับกลยุทธ์ ทางการตลาดและบริหาร เพิ่มความแข็งแกร่งทาง ด้านข้อมูลข่าวสาร เสริมศักยภาพ
            และความได้เปรียบในการแข่งขันของธุรกิจของคุณ</p>



        <h6>Smart supply chain</h6>
        <p>ห่วงโซ่อุปทาน (Supply Chain) ระบบนี้จะเป็นโซลูชั่นที่เข้ามาช่วยติดตามสินค้าที่กำลังขนส่งไปตามท้องถนน
            การทำงานก็มีการส่งต่อ ทำงานเกี่ยวเนื่องกัน โดยเริ่มตั้งแต่การหาสินค้า หรือวัตถุดิบ
            จนสิ้นสุดกระบวนการส่งถึงมือลูกค้า เพื่อตอบสอบความพึงพอใจของลูกค้า โดยสิ่งที่เชื่อม Supply Chain ด้วยกันคือ
            Logistic นั้นเอง</p>



        <h6>Smart farmingm</h6>
        <p>สมาร์ทฟาร์ม หรือ เกษตรอัจฉริยะ เป็นรูปแบบการทำเกษตรแบบใหม่ที่จะทำให้
            การทำไร่ทำนามีภูมิคุ้มกันต่อสภาพภูมิอากาศที่เปลี่ยนแปลงไป
            โดยการนำเอาข้อมูลของภูมิอากาศทั้งในระดับพื้นที่ย่อย
            (Microclimate) ระดับไร่ (Mesoclimate) และระดับมหภาค (Macroclimate) มาใช้ในการบริหารจัดการ
            ดูแลพื้นที่เพาะปลูก
            เพื่อให้สอดคล้องกับสภาพอากาศที่เกิดขึ้น รวมถึงการเตรียมพร้อมรับมือกับสภาพอากาศที่จะเปลี่ยนแปลงไปในอนาคต</p>

        <p>ระบบสมาร์ทฟาร์มจะบูรการข้อมูล Microclimate และ Mesoclimate จากเครือข่ายเซ็นเซอร์ไร้สาย (Wireless Sensor
            Networks) ที่ติดตั้งตามจุดต่างๆ ภายในไร่นา (ข้อมูล อุณหภูมิ ความชื้น ในดินและในอากาศ แสง ลม น้ำฝน)
            กับข้อมูลอุตุนิยมวิทยา Macroclimate (เรดาร์ ข้อมูลดาวเทียม โมเดลสภาพอากาศ) ที่มีอยู่บนอินเตอร์เน็ต
            และนำเสนอต่อเกษตรกร เจ้าของไร่ ผ่านทางเว็บไซต์ โดยจะมีการเก็บข้อมูล เป็นฐานข้อมูลของไร่
            เพื่อใช้ประกอบการตัดสินใจ และ ดำเนินกิจกรรมต่างๆ การวางแผนการเพาะปลูก การให้น้ำ ให้ปุ๋ย และ ยา เป็นต้น</p>

        <div class="sub-pic">
            <img src="{% static 'images/img6.jpg' %}" alt="">
        </div>

        <br>
        <h6>แหล่งที่มา</h6> 
        <ul>
            <li>เว็บไซต์ Aware <a href="https://www.aware.co.th/">
                    (https://www.aware.co.th/)</a></li>
            <li>เว็บไซต์ beFirst network <a
                    href="https://www.befirstnetwork.com/iot/">(https://www.befirstnetwork.com/iot/)</a></li>
            <li>ว็บไซต์ Sumipol <a
                    href="https://www.sumipol.com/knowledge/transformation-iot/">(https://www.sumipol.com/knowledge/transformation-iot/)</a>
            </li>
            <li>เว็บไซต์ Techsauce<a
                    href="https://techsauce.co/tech-and-biz/connected-car">(https://techsauce.co/tech-and-biz/connected-car)</a>
            </li>
        </ul>


    </div>
    <br><br>
</section>
<br><br>


{% endblock %}