{% extends 'header.html' %}

{% block content %}
{% load static %}

<!-- Navbar Zone -->
<header>
    <nav id="header-nav" class="navbar navbar-expand-lg navbar-dark ">

        <div class="container-fluid">

            <div class="">
                <a href="/" class="">
                    <div id="logo-img" alt="Logo image"></div>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartlc"
                aria-controls="navbartlc" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbartlc" class="collapse navbar-collapse " >
                <div style="display:flex; flex-direction: column; justify-items: end;" class="ml-auto">
                    <ul class="navbar-nav ml-auto" id="navitem-up">
                        <li class="nav-item">
                            <a class="nav-link" href="/ourcustomers" style="color: #FFFFFF">รายนามลูกค้า |</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/career" style="color: #FFFFFF">ร่วมงานกับเรา</a>
                        </li>
                    </ul>


                    <ul class="navbar-nav ml-auto" id="navitem-low">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" style="color:#FFFFFF;">หน้าหลัก&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus" style="color: #FFFFFF ">เกี่ยวกับเรา&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/productsnservices"
                                style="color: #FFFFFF">สินค้าและบริการ&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles" style="color: #EFCB4D">ข่าวสารและกิจกรรม&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus" style="color: #FFFFFF">ติดต่อเรา</a>
                        </li>

                    </ul>
                </div>

                <!-- <a class="hamburger-menu" onclick="myFunction()">
                    <span class="hamburger-icon"></span>
                </a> -->

            </div>

        </div>
    </nav>
</header>
<!-- END Navbar -->


    <br><br>
    <div class="container" id="backIcon">
        <a href="/articles"><img src="{% static 'images/IconBigArrow.svg' %}" alt=""></a>
    </div>

    <br>
    <section class="container" id="article-DS">
        <div>
            <h3>4 เหตุผลหลัก ทำไมวงการสาธารณสุขจึงต้องการ
                Data Science</h3>
        </div>

        <div class="head-pic d-flex">
            <div style="border:solid 10px #EFCB4D; border-radius: 10px;">
            </div>
            <div style="padding:0px 65px;">
                <img src="{% static 'images/Frame7.png' %}" alt="">
            </div>
        </div>
        
        <br>
        <div>
            <p>
                ในอุตสาหกรรมสาธารณสุขจะมีอะไรที่สำคัญไปกว่าผลลัพธ์ด้านสุขภาพ? ในทุกวันผู้ให้บริการด้านสาธารณสุขทั่วโลก
                ต่างพยายามค้นหาวิถีทางที่จะปรับปรุงคุณภาพชีวิตของพวกเรา
                แต่ก็นั่นแหละปัจจุบันโลกได้เปลี่ยนไปพูดได้ว่าโลกเปลี่ยนแปลงไปเร็วเกินกว่าที่เรา จะตามทันด้วยซ้ำ
                การทำงานคนเดียวคงมิอาจปรับปรุงคุณภาพชีวิตคนไข้ได้อีกต่อไปเพราะจำนวนข้อมูลด้านสาธารณสุขได้เติบโตอย่างรวดเร็ว
                เรียกได้ว่า เพิ่มขึ้นทุกๆ วินาทีก็ว่าได้
                ซึ่งนั่นมันทำให้เพิ่มความยากในการค้นหารูปแบบที่เหมาะสมกับข้อมูลขนาดใหญ่หรือที่เรียกกันว่า “Big Data”
            </p>
            <p>
                ความจริงแล้ว Data Science ได้กำลังปรับปรุงผลลัพธ์ในทางที่ดีขึ้นจนเรียกได้ว่าไม่อาจประเมินค่าได้
                เนื่องจากได้สร้างความ เป็นอัตโนมัติมากมายที่ทำให้พัฒนาการต่างๆดีขึ้นตามลำดับ ทั้งความเร็ว
                ความสามารถในการย่อและขยายข้อมูล รวมถึงความถูกต้องแม่นยำ
                สิ่งที่ควรพิจารณาอย่างยิ่งคือการมองไปที่ความสามารถในการพยากรณ์โรคระบาด ความก้าวหน้าในการรักษา
                และการทำให้คนไข้พักรักษาตัว ในโรงพยาบาลอย่างสะดวกสบายและปลอดภัย โดยในทางสาธารณสุขแล้ว Data Science
                ควรจะถูกพิจารณาความเป็นอัจฉริยะในแง่ คุณประโยชน์มากกว่าการเป็นเพียงปัญญาประดิษฐ์เท่านั้น
                ซึ่งแผนการเตรียมการในการเพิ่มบริการเหล่านี้แก่ผู้เชี่ยวชาญทางสาธารณสุขแล้ว
            </p><br>
            <div id="title-box">
                "เหตุผลที่ 1 ข้อมูลค่ารักษาพยาบาล"
            </div><br>
            <p>
                จากผลการสำรวจการปฏิบัติหน้าที่ของโรงพยาบาลแห่งชาติพบว่า ในปี 2010
                ได้มีผู้ป่วยที่ได้รับอนุญาตให้ออกจากโรงพยาบาล (Discharge) จำนวน 35.1
                ล้านคนภายในระยะเวลาที่อยู่ในโรงพยาบาลเฉลี่ย4.8 วัน และมีการรายงามเพิ่มเติมว่ายังมีผู้ป่วยอีกจำนวน 51.4
                ล้านคนที่ยังอยู่ในขั้นตอนรักษา จากผลการสำรวจการรักษาพยาบาลผู้ป่วยนอกในปี 2011
                พบว่ามีผู้ป่วยนอกจากแผนกดูแลผู้ป่วยนอกจำนวน 125.7ล้านคน และแผนกผู้ป่วยฉุกเฉินจำนวน 136.3 ล้านคน
                และยังมีข้อมูลพื้นฐานเพิ่มเติมอีกจำนวนหนึ่งแสดงข้อมูลการรักษาพยาบาล
                ในระบบสาธารณสุขของสหรัฐอเมริกาอีกด้วย การนำ Data Science
                มาประยุกต์ใช้กับข้อมูลเหล่านี้จะทำให้เกิดความเข้าใจข้อมูลมากยิ่งขึ้น
                และสร้างความเป็นไปได้ในการลดหรือหลีกเลี่ยงการแพร่กระจายของเชื้อโรคหรือแม้กระทั่งจัดการการลุกลามได้ด้วย
                การรวมเข้าด้วยกันของสถิติ
                การสำรวจวิเคราะห์ข้อมูลและการพยากรณ์ข้อมูลจะนำไปสู่การบริหารต้นทุนให้มีประสิทธิภาพสำหรับอาการป่วยที่เฉพาะเจาะจงและลดความซ้ำซ้อนที่ไม่จำเป็นในการรักษาได้อีกด้วย
                การสร้างพลังแห่งการคาดการณ์ที่มีประโยชน์เหล่านี้คือการใช้ความรู้ที่จะเปลี่ยนแปลงรูปแบบพฤติกรรมของวันนี้
            </p><br>
            <div id="title-box">
                "เหตุผลที่ 2 ข้อมูลด้านการรักษา"
            </div><br>
            <p>
                แหล่งข้อมูลได้รวบรวมมาจากบันทึกการรักษาของแพทย์ ผลการทดลองจากห้องแล๊บ
                และการเก็บข้อมูลจากเทคโนโลยีการฉาย- ภาพทางการแพทย์ในระหว่างการตรวจรักษาคนไข้
                ตัวอย่างเช่นในทุกวันโรงพยาบาลใช้อัลกอริทึมของการประมวลผลภาษาธรรมชาติ (Natural language processing
                algorithms) ในการวิเคราะห์ประวัติคนไข้ ซึ่งพวกเขาอาจจะระบุถึงความเสี่ยงที่แน่นอนของอาการป่วยในคนไข้
                แต่ละบุคคลได้ และเมื่อไม่นานมานี้ก็ได้มีรายงานว่าผู้ให้บริการทางสาธารณสุขไม่ยอมรับการอ่านผลความดันเลือด
                ที่ผ่านการอ่านสามครั้ง โดยไม่ต่อเนื่องกันจากการตรวจสอบ 26% ของผู้ป่วยในแผนกกุมารเวช
                ซึ่งถูกตรวจสอบโดยสมาคมการแพทย์อเมริกัน (The American Medical Association)
                ซึ่งการยอมรับนี้จะต้องผ่านการวิเคราะห์จากข้อมูลที่เพิ่มขึ้นจำนวนมากซึ่งอาจจจะเป็นงานที่ยากขึ้น
                สำหรับผู้ให้บริการ ทางสาธารณสุข
            </p><br>
            <div id="title-box">
                "เหตุผลที่ 3 ข้อมูลด้านการวิจัยและพัฒนายา"
            </div><br>
            <p>
                เมื่อไม่นานมานี้ ได้เกิดความร่วมมือในการพัฒนาระหว่างบริษัทยา ซึ่งได้พิจารณาโครงการ Data Sphere,
                การเริ่มต้นการแชร์
                ความรู้และข้อมูล, การรวมข้อมูล,
                รวมถึงการวิเคราะห์ข้อมูลประวัติการรักษาโรคมะเร็งเพื่อวัตถุประสงค์ในการรวบรวมข้อมูลในการวิจัย เพื่อเพิ่ม
                ความรวดเร็วในการค้นหา และการรักษาโรคมะเร็ง พลังแห่งข้อมูลอันมากมายมหาศาลคือการวิเคราะห์
                และการโฟกัสไปยังการค้นหาวิธีการรักษา สำหรับผู้ป่วยโรคมะเร็ง
            </p><br>
            <div id="title-box">
                "เหตุผลที่ 4 ข้อมูลพฤติกรรมคนไข้รวมถึงความคิดเห็น"
            </div><br>
            <p>
                จากผลการศึกษาของสมาคมการแพทย์อเมริกันคาดว่า Wearable หรืออุปกรณ์สวมใส่อิเล็กทรอนิกส์จะมีจำนวน 52
                ล้านชิ้น ภายในปี 2019 ซึ่ง Wearable สามารถรายงานและตรวจจับอัตราการเต้นหัวใจ รูปแบบการนอน การเดิน
                และอีกมากมาย ขณะที่มีการเพิ่ม มิติอื่นๆ ที่เกี่ยวข้องในหลายบริบทเข้ามา ทั้งการค้นหาพิกัด รูปแบบพฤติกรรม
                รวมถึงสถิติชีวภาพ การรวมสิ่งเหล่านี้เข้ากับข้อมูลวิถีชีวิตหรือ Lifestyle ที่ไม่มีโครงสร้างผ่านSocial
                media กลายเป็นศูนย์รวมอำนาจ ซึ่งนั่นมันมากกว่าแค่จำนวนและการส่งเสียง (Tweet)
            </p><br>
            <hr>
            <br>
            <p>
                จะเห็นได้อย่างชัดเจนว่าเราจะมีประสบการณ์lสำหรับการใช้ประโยชน์มากมายที่มาจากการวิเคราะห์ข้อมูลทั้งใน
                และนอกวงการ
                สาธารณสุข เราจะเห็นความต่อเนื่องในการผลักดันการป้องกันผ่านการรักษา
                ซึ่งมุ่งประเด็นไปที่การพยายากรณ์ผลลัพธ์การรักษาเป็นสำคัญ</p>

            <p> มันอาจจะยังไม่เป็นที่นิยมแพร่หลายหรือเป็นที่กล่าวขานในตอนนี้ แต่ในอนานคตเมื่อเรามองย้อนกลับมาที่ Data
                Science มันจะกลายเป็นสิ่งที่สำคัญและมีความหมายในวงการสาธารณสุขมาก มันจึงดูสมเหตุสมผลที่จะคาดหวังว่า
                มีความเป็นไปได้ที่จะฟื้นฟูเยียวยา อาการเจ็บป่วยและบาดเจ็บได้เร็วขึ้น มีอายุยืนยาว เพราะการค้นพบยาใหม่ๆ
                ที่มีประโยชน์และสร้างประสิทธิภาพกับการผ่าตัดที่โรงพยาบาล สิ่งเหล่านี้เกิดขึ้นได้เพราะการวิเคราะห์ Big
                Data</p>


            <p>อะไรที่ทำให้การอยู่ในยุคของ Big Data เป็นเรื่องที่น่ายินดี นั่นคือสิ่งที่เป็นแรงผลักดันให้วงการสาธารณสุข
                การค้นหาเครื่องมือ ทักษะ และเทคนิคต่างๆ
                เพื่อให้สามารถทำงานกับข้อมูลผู้ป่วยที่มีอย่างท่วมท้นมากมายคือความเข้าใจอย่างลึกซึ่งในธรรมชาติของข้อมูล
                เมื่อวงการสาธารณสุขได้นำ Data Science มาใช้อย่างเต็มรูปแบบ มันจะเปลี่ยนแปลงอนาคตของคุณทุกคน</p>

            <p>ที่มา:<a href="https://www.techtalkthai.com/4-reasons-why-healthcare-needs-data-science/">
                    https://www.techtalkthai.com/4-reasons-why-healthcare-needs-data-science/</a></p>

        </div>
        <br><br>
    </section>
    <br><br>



   
    {% endblock %}