{% extends 'header.html' %}

{% block content %}
{% load static %}

<!-- Navbar Zone -->
<header>
    <nav id="header-nav" class="navbar navbar-expand-lg navbar-dark ">

        <div class="container-fluid">

            <div class="">
                <a href="/" class="">
                    <div id="logo-img" alt="Logo image"></div>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartlc"
                aria-controls="navbartlc" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbartlc" class="collapse navbar-collapse " >
                <div style="display:flex; flex-direction: column; justify-items: end;" class="ml-auto">
                    <ul class="navbar-nav ml-auto" id="navitem-up">
                        <li class="nav-item">
                            <a class="nav-link" href="/ourcustomers" style="color: #FFFFFF">รายนามลูกค้า |</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/career" style="color: #EFCB4D">ร่วมงานกับเรา</a>
                        </li>
                    </ul>


                    <ul class="navbar-nav ml-auto" id="navitem-low">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" style="color:#FFFFFF;">หน้าหลัก&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus" style="color: #FFFFFF ">เกี่ยวกับเรา&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/productsnservices"
                                style="color: #FFFFFF">สินค้าและบริการ&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles" style="color:#FFFFFF ">ข่าวสารและกิจกรรม&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus" style="color: #FFFFFF">ติดต่อเรา</a>
                        </li>

                    </ul>
                </div>

                <!-- <a class="hamburger-menu" onclick="myFunction()">
                    <span class="hamburger-icon"></span>
                </a> -->

            </div>

        </div>
    </nav>
</header>
<!-- END Navbar -->



    <br>
    <div class="contianer" id="career-head">
        <h1>ร่วมงานกับเรา</h1>
    </div>
    <br>
    <div id="career-open">
        <p>Job Opening</p>
    </div>
    <br>
    <div class="container" id="career" role="button">
        <a href="/career_programmer">
            <h3>Programmer C#.NET</h3> </a>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg> Bangkok <span>|</span> Permanent
            </p>      
       
    </div> 
    <br>
    <div class="container" id="career" role="button">
        <a href="/career_programmer2">
            <h3>IOS/Android Programmer</h3> </a>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg> Bangkok <span>|</span> Permanent
            </p>      
       
    </div> 
    <br>
    <div class="container" id="career" role="button">
        <a href="/career_accountant">
            <h3>เจ้าหน้าที่บัญชี</h3> </a>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg> Bangkok <span>|</span> Permanent
            </p>      
       
    </div> 
    <br>
    <div class="container" id="career" role="button">
        <a href="/career_marketing">
            <h3>เจ้าหน้าที่การตลาด</h3> </a>
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt"
                    viewBox="0 0 16 16">
                    <path
                        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg> Bangkok <span>|</span> Permanent
            </p>      
       
    </div> 
<br><br>
    {% endblock %}