{% extends 'header.html' %}

{% block content %}
{% load static %}

<!-- Navbar Zone -->
<header>
    <nav id="header-nav" class="navbar navbar-expand-lg navbar-dark ">

        <div class="container-fluid">

            <div class="">
                <a href="/" class="">
                    <div id="logo-img" alt="Logo image"></div>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartlc"
                aria-controls="navbartlc" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbartlc" class="collapse navbar-collapse " >
                <div style="display:flex; flex-direction: column; justify-items: end;" class="ml-auto">
                    <ul class="navbar-nav ml-auto" id="navitem-up">
                        <li class="nav-item">
                            <a class="nav-link" href="/ourcustomers" style="color: #FFFFFF">รายนามลูกค้า |</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/career" style="color: #FFFFFF">ร่วมงานกับเรา</a>
                        </li>
                    </ul>


                    <ul class="navbar-nav ml-auto" id="navitem-low">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" style="color:#FFFFFF;">หน้าหลัก&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus" style="color: #FFFFFF ">เกี่ยวกับเรา&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/productsnservices"
                                style="color: #FFFFFF">สินค้าและบริการ&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles" style="color:#FFFFFF ">ข่าวสารและกิจกรรม&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus" style="color: #EFCB4D">ติดต่อเรา</a>
                        </li>

                    </ul>
                </div>

                <!-- <a class="hamburger-menu" onclick="myFunction()">
                    <span class="hamburger-icon"></span>
                </a> -->

            </div>

        </div>
    </nav>
</header>
<!-- END Navbar -->

    <br><br>
    <div class="container" id="contacthead">
        <h1>CONTACT US</h1>
        <br>
    </div>

    <section class="container" id="contactus">
        <div class="row">
            <div class="col-md-8 col-sm-12" id="contact-issue">
                <form>
                    <div class="form-group">
                        <label for="">ชื่อผู้ติดต่อ :</label>
                        <input type="" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">เรื่องที่ติดต่อ :</label>
                        <input type="" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">อีเมลติดต่อกลับ :</label>
                        <input type="email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">เบอร์โทร :</label>
                        <input type="tel" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="">รายละเอียดติดต่อ :</label>
                        <textarea rows="3" class="form-control"></textarea>
                        <br>
                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>
            </div>

            <div class="col-md-4 col-sm-12" id="contactaddr">
                <div id="addr">
                    <h6>ที่อยู่บริษัท :</h6>
                    <p>บริษัท เทเลคอร์ป จำกัด</p>
                    <p>เลขที่ 216/51-52  </p>
                    <p>ถนนกาญจนาภิเษก แขวงทับช้าง </p>
                    <p>เขตสะพานสูง กรุงเทพฯ 10250 </p>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'images/IconContactus.svg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>02-012-6526</p>
                        <p>088-673-9000</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'images/Icon_Email.svg' %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <p>trin.bo@telecorp.co.th</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path
                                d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                        </svg>
                    </div>
                    <div class="col-md-9">
                        <p><a href="http://telecorpthailand.com">http://telecorpthailand.com/</a></p>
                    </div>
                </div>
                <hr>
            </div>
        </div>

    </section>
    <br>
    <section class="container" id="map">
        <h1>MAP</h1>
<br>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.6089803430273!2d100.69949771536889!3d13.742107501219213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d61db03392f79%3A0x12eb23492c62bcdc!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5gOC4l-C5gOC4peC4hOC4reC4o-C5jOC4myDguIjguLPguIHguLHguJQ!5e0!3m2!1sth!2sth!4v1658141539645!5m2!1sth!2sth"
            width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
<br>

{% endblock %}