{% extends 'header.html' %}

{% block content %}
{% load static %}

<!-- Navbar Zone -->
<header>
    <nav id="header-nav" class="navbar navbar-expand-lg navbar-dark ">

        <div class="container-fluid">

            <div class="">
                <a href="/" class="">
                    <div id="logo-img" alt="Logo image"></div>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartlc"
                aria-controls="navbartlc" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbartlc" class="collapse navbar-collapse " >
                <div style="display:flex; flex-direction: column; justify-items: end;" class="ml-auto">
                    <ul class="navbar-nav ml-auto" id="navitem-up">
                        <li class="nav-item">
                            <a class="nav-link" href="/ourcustomers" style="color: #FFFFFF">รายนามลูกค้า |</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/career" style="color: #FFFFFF">ร่วมงานกับเรา</a>
                        </li>
                    </ul>


                    <ul class="navbar-nav ml-auto" id="navitem-low">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" style="color:#FFFFFF;">หน้าหลัก&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus" style="color: #FFFFFF ">เกี่ยวกับเรา&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/productsnservices"
                                style="color: #FFFFFF">สินค้าและบริการ&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles" style="color:#FFFFFF ">ข่าวสารและกิจกรรม&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus" style="color: #FFFFFF">ติดต่อเรา</a>
                        </li>

                    </ul>
                </div>

                <!-- <a class="hamburger-menu" onclick="myFunction()">
                    <span class="hamburger-icon"></span>
                </a> -->

            </div>

        </div>
    </nav>
</header>
<!-- END Navbar -->


    <section class="container" id="policy">
        <div id="policy-content">
        <br>
        <p>
        <h3>นโยบาย Cookies
        </h3>
        </p>
        <br>
        <p>
            ในระหว่างการท่องเว็บไซต์ http://telecorpthailand.com/
             ข้อมูลที่เกี่ยวข้องกับการท่องเว็ปไซต์ของท่านจะถูกเก็บเอาไว้ในรูปแบบของคุกกี้
            นโยบายคุกกี้นี้จะอธิบายความหมายของคุกกี้ ทำงานอย่างไร เพื่ออะไร
            และรวมถึงวิธีการลบคุกกี้เพื่อความเป็นส่วนตัวของท่าน
            โดยการท่องเว็บไซต์ http://telecorpthailand.com/
             นี้ถือว่าท่านได้อนุญาตให้เราใช้คุกกี้ตามนโยบายคุกกี้ที่มีรายละเอียดดังต่อไปนี้...
        </p>
        <br>
        <p>
        <h5>Cookies คืออะไร</h5>
        </p>

        <p> Cookies เป็นไฟล์เล็กๆเพื่อจัดเก็บข้อมูลโดยจะบันทึกลงไปในอุปกรณ์คอมพิวเตอร์
            หรือเครื่องมือสื่อสารที่เข้าใช้งานของท่าน ผ่านทางเว็บเบราว์เซอร์ที่ท่าน
            เลือกใช้ในขณะที่ท่านเข้าเยี่ยมชมเว็บไซต์ของเรา</p>
        <br>
        <p>
        <h5>การใช้ประโยชน์ของ Cookies</h5>
        </p>
        <p> เราใช้ Cookies เพื่อเก็บเอกลักษณ์การเข้าเยื่ยมเว็บไซต์ของท่าน
            โดยเอกลักษณ์นี้จะทำให้เราสามารถจำลักษณะการใช้งานเว็บไซต์ของท่านได้ง่ายขึ้น
            และข้อมูลเหล่านี้จะถูกนำไปเพื่อปรับเว็บไซต์ของเราให้เข้ากับความต้องการของท่านมากยิ่งขึ้น
            เพื่อความสะดวกและรวดเร็วในการใช้งานเว็บไซต์ของท่าน ในบางจุดเราจำเป็นต้องให้บุคคลที่สามในการดำเนินการดังกล่าว
            ซึ่งอาจจะต้องใช้ อินเตอร์เน็ตโปรโตคอลแอดเดรส (IP Address) และ Cookies เพื่อวิเคราะห์ ตลอดจนเชื่อมโยงข้อมูล
            และประมวลผลตามวัตถุประสงค์ทางการตลาด
        </p>
        <br>
        <p>
        <h5>
            ความหลากหลายและการทำงานของ Cookies</h5>
        </p>
        <p>เราใช้ Cookies 4 ประเภทในเว็บไซต์ของเรา ซึ่งการใช้คุกกี้ดังกล่าวไม่สามารถบอกความเป็นตัวตนของท่านได้
        <ul>
            <li> Cookies ประเภทจำเป็นถาวร Cookies ประเภทนี้มีความจำเป็นอย่างยิ่งในเว็บไซต์
                ซึ่งจะทำให้ท่านสามารถเข้าถึงข้อมูลและใช้งานในเว็บไซต์ของเราได้ทุกส่วน
                Cookies ประเภทนี้จะถูกจัดเก็บและลบออกหลังจากการท่องเว็บไซต์ของท่าน</li>
            <li> Cookies ประเภทการวิเคราะห์ และวัดผลการทำงาน Cookies ประเภทนี้จะช่วยให้เราสามารถวัดผลการทำงาน
                โดยประมวลจำนวนหน้าที่ท่านเข้าเยี่ยมชม ตลอดจนจำนวนลักษณะเฉพาะของกลุ่มผู้เยี่ยมชมนั้นๆ
                โดยข้อมูลดังกล่าวจะนำมาใช้ในการวิเคราะห์รูปแบบพฤติกรรมของผู้เยี่ยมชม
                และเราจะนำผลลัพธ์ดังกล่าวไปใช้ในการปรับปรุงเว็บไซต์ให้ตอบสนองความต้องการ
                และการใช้งานของผู้เยี่ยมชมยิ่งขึ้น
                อย่างไรก็ตามข้อมูลที่ได้และใช้ประมวลผลนั้นไม่มีการระบุชื่อ หรือบ่งบอกความเป็นตัวตนของท่านได้
                อีกทั้งไม่มีการเก็บข้อมูลจำเพาะบุคคลเช่น ชื่อ อีเมล เป็นต้น และใช้เป็นข้อมูลทางสถิติเท่านั้น</li>
            <li> Cookies ประเภทการทำงาน Cookies ประเภทนี้ใช้จดจำคุณลักษณะต่างๆที่ท่านได้เลือกในขณะใช้งานในเว็บไซต์
                ข้อมูลที่ถูกบันทึกไว้เหล่านี้จะถูกนำกลับมา ใช้อีกครั้งในคราวที่ท่านกลับมาเยี่ยมชมเว็บไซต์ของเรา
                สิ่งที่ท่านเคยได้เลือกใช้จะนำมาแสดงผล โดยที่ท่านไม่จำเป็นต้องทำการเลือกใหม่อีกครั้ง เพื่อความสะดวก
                สบายในการใช้งานของท่าน อย่างไรก็ตามข้อมูลที่ได้ละใช้ประมวลผลนั้นไม่มีการระบุชื่อ
                หรือบ่งบอกความเป็นตัวตนของท่านได้ อีกทั้งไม่มีการเก็บข้อมูลจำเพาะบุคคล เช่น ชื่อ อีเมล เป็นต้น
                และใช้เป็นข้อมูลทางสถิติเท่านั้น</li>
            <li>Cookies เพื่อการโฆษณา คุกกี้ประเภทนี้จะจดจำการเข้าหน้าเว็บไซต์ จุดเยี่ยมชมและสนใจของท่าน
                ข้อมูลที่ได้นี้จะนำไปประกอบการปรับเปลี่ยนหน้าเว็บไซต์ และนโยบายทางการตลาดที่เหมาะสมกับความต้องการของท่าน
            </li>
        </ul>
        </p>
        <br>
        <p>
        <h5>
            คุณจะลบคุกกี้ได้อย่างไร</h5>
        </p>
        <p> ท่านสามารถลบคุกกี้ได้โดยศึกษาวิธีการต่างๆที่ระบุตามแต่ละเว็บเบราว์เซอร์ที่ท่านเลือกใช้ตามลิงก์ดังนี้
        <ul>
            <li>Chrome</li>
            <li> Firefox</li>
            <li>Internet Explorer</li>
            <li>Safari</li>
            <li>Safari for ios</li>
            <li>Chrome for android</li>
            <li>Chrome for ios</li>
        </ul>
        </p>
        <br>
        <p>
        <h5>การเปลี่ยนแปลงของนโยบายของเรา </h5>
        </p>
        <p> นโยบายCookies นี้จะมีการปรับปรุงแก้ไขตามโอกาสเพื่อปฎิบัติตามกฎระเบียบ
            เราขอแนะนำให้ท่านตรวจเช็คเพื่อให้แน่ใจว่าท่านได้เข้าใจ การเปลี่ยนแปลงข้อกำหนดดังกล่าว

        </p>
    </div>
    </section>

    {% endblock %}