{% extends 'header.html' %}

{% block content %}
{% load static %}

<!-- Navbar Zone -->
<header>
    <nav id="header-nav" class="navbar navbar-expand-lg navbar-dark ">

        <div class="container-fluid">

            <div class="">
                <a href="/" class="">
                    <div id="logo-img" alt="Logo image"></div>
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbartlc"
                aria-controls="navbartlc" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbartlc" class="collapse navbar-collapse " >
                <div style="display:flex; flex-direction: column; justify-items: end;" class="ml-auto">
                    <ul class="navbar-nav ml-auto" id="navitem-up">
                        <li class="nav-item">
                            <a class="nav-link" href="/ourcustomers" style="color: #FFFFFF">รายนามลูกค้า |</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/career" style="color: #FFFFFF">ร่วมงานกับเรา</a>
                        </li>
                    </ul>


                    <ul class="navbar-nav ml-auto" id="navitem-low">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" style="color:#FFFFFF;">หน้าหลัก&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/aboutus" style="color: #FFFFFF ">เกี่ยวกับเรา&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/productsnservices"
                                style="color: #FFFFFF">สินค้าและบริการ&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles" style="color:#FFFFFF ">ข่าวสารและกิจกรรม&emsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contactus" style="color: #FFFFFF">ติดต่อเรา</a>
                        </li>

                    </ul>
                </div>

                <!-- <a class="hamburger-menu" onclick="myFunction()">
                    <span class="hamburger-icon"></span>
                </a> -->

            </div>

        </div>
    </nav>
</header>
<!-- END Navbar -->


<section class="container" id="policy">
    <div id="policy-content">
        <br><br>
        <h3>นโยบายความเป็นส่วนตัว</h3>
        <br>
        <h4>บทนำ</h4>
        <br>
        <p>
            บริษัท เทเลคอร์ป จำกัด มุ่งมั่นที่จะปกป้องความเป็นส่วนตัวของท่าน
            ซึ่งข้อมูลต่อไปนี้คือแนวทางที่เราปฏิบัติต่อข้อมูลส่วนบุคคลของท่าน ไม่ว่าจะเป็น การเก็บรวบรวม การใช้
            การเปิดเผย (เรียกรวมกันว่า “การประมวลผล”) และการปกป้องซึ่งข้อมูลส่วนบุคคลที่ท่านให้กับเราในระหว่างเยี่ยมชม
            เว็บไซต์ http://telecorpthailand.com/ หรือใช้แอปพลิเคชันของเรา หรือรับบริการจากเรา
            นโยบายความเป็นส่วนตัวนี้ครอบคลุมถึงข้อมูลใดๆ ที่สามารถระบุ ถึงตัวท่านได้ ไม่ว่าทางตรงหรือทางอ้อม
            และไม่ว่าจะได้รับจากท่านโดยตรงหรือเป็นการส่งต่อมาจากบุคคลที่สามก็ตาม (“ข้อมูล” หรือ “ข้อมูลส่วนบุคคล”) 
            สำหรับข้อมูลส่วนบุคคลของท่านนั้น นอกเหนือจากการปฏิบัติตามนโยบายนี้แล้ว
            เราจะยึดถือปฏิบัติตามบทบัญญัติของกฎหมาย กฎ ประกาศ คำสั่ง หรือระเบียบ ของหน่วยงาน
            ที่มีอำนาจกำกับดูแลที่เกี่ยวข้อง หรือที่จะมีการแก้ไขเพิ่มเติม เราในฐานะผู้ควบคุมข้อมูลส่วนบุคคลของท่าน
            ได้จัดทำนโยบายความเป็นส่วนตัวนี้ขึ้น ซึ่งถือเป็นส่วนหนึ่งของข้อกำหนด
            และเงื่อนไขสำหรับการให้บริการเว็บไซต์และแอปพลิเคชันของเรา รวมทั้งการเข้ารับบริการของท่าน โดยในการใช้บริการ
            ดังกล่าวในแต่ละครั้งให้ถือว่าท่านได้อ่าน และตกลงยอมรับนโยบายความเป็นส่วนตัวนี้ ซึ่งมีรายละเอียดดังต่อไปนี้
        </p>
        <br>
        <p>
        <h5>การเก็บรวบรวมข้อมูลส่วนบุคคล</h5>
        </p>
        <p> เราเก็บข้อมูลส่วนบุคคลของท่านเท่าที่จำเป็น ในกรณีที่ท่านเป็นผู้ยินยอมให้ข้อมูลกับเราโดยตรง
            ไม่ว่าจะเป็นการให้ข้อมูล เพื่อการขอรับบริการจากเรา ผ่านช่องทางเว็บไซต์ แอปพลิเคชันบนมือถือ
            หรือช่องทางอื่นใดของเรา ตัวอย่างเช่น ข้อมูลชื่อ-นามสกุล อีเมล์ และเบอร์โทรศัพท์มือถือ ข้อมูลการเรียกเก็บเงิน
            ข้อมูลบัตรเครดิตหรือเดบิต และรายละเอียดบัญชีธนาคาร เป็นต้น</p>
        <br>
        <p>
        <h5>ข้อมูลส่วนบุคคลที่เราเก็บรวบรวม</h5>
        </p>

        <p> ประเภทของข้อมูลส่วนบุคคลที่เราเก็บรวบรวมจะขึ้นอยู่กับวัตถุประสงค์ในการประมวลผลข้อมูลตามนโยบายความเป็นส่วนตัวนี้
            ซึ่งเป็นข้อมูลส่วนบุคคลที่เราเก็บรวบรวมโดยตรงจากท่าน หรือจากบุคคลที่สาม มีดังนี้</p>
        <ul>
            <li> ข้อมูลระบุตัวตน เช่น ชื่อ ภาพถ่าย เพศ วันเดือนปีเกิด หนังสือเดินทาง หมายเลขบัตรประชาชน
                หรือหมายเลขที่สามารถระบุตัวตนอื่นๆ</li>
            <li>ข้อมูลสำหรับการติดต่อ เช่น ที่อยู่ หมายเลขโทรศัพท์ และอีเมล</li>
            <li>ข้อมูลการชำระเงิน เช่น ข้อมูลการเรียกเก็บเงิน ข้อมูลบัตรเครดิตหรือเดบิต และรายละเอียดบัญชีธนาคาร</li>
            <li>ข้อมูลการสมัครรับข่าวสารและเข้าร่วมกิจกรรมทางการตลาด เช่น ลงทะเบียนเพื่อเข้าร่วมสัมมนา</li>
            <li>ข้อมูลสถิติการเข้าชมเว็บไซต์</li>
            <li>ข้อมูลจากการเข้าใช้เว็บไซต์ของเรา เช่น IP Address, Cookies, Online Appointment System</li>
            <li>เราจะไม่เก็บและใช้ข้อมูลที่มีความละเอียดอ่อนของท่าน ดังต่อไปนี้ เชื้อชาติ ความเชื่อทางศาสนา
                ประวัติอาชญากรรม เว้นแต่เป็นไปตามที่ข้อบังคับ และกฎหมายกำหนด หรือโดยความยินยอมของท่าน</li>
        </ul>
        <br>
        <p>
        <h5>วัตถุประสงค์ในการประมวลผลข้อมูลส่วนบุคคล</h5>
        </p>
        <p>เราอาจประมวลผลข้อมูลของท่านโดยอาศัยความยินยอมของท่าน หรือการปฏิบัติตามสัญญาระหว่างกัน หรือการใดๆ
            เพื่อประโยชน์โดยชอบด้วยกฎหมายของเรา สำหรับวัตถุประสงค์ดังนี้</p>
        <ol>
            <li> เพื่อเก็บข้อมูลสถิติการเข้าชมเว็บไซต์</li>
            <li>วัตถุประสงค์เกี่ยวกับการตลาดของบริษัท
                ซึ่งเราจะประมวลผลเพื่อวัตถุประสงค์เหล่านี้เฉพาะกรณีที่ท่านได้ให้ความยินยอมในการประมวลผลแก่เรา ได้แก่
                <ul>
                    <li>อำนวยความสะดวกและนำเสนอรายการสิทธิประโยชน์ต่างๆ แก่สมาชิกผ่านทางเว็บไซต์ของบริษัท</li>
                    <li>จุดประสงค์ด้านการตลาด การส่งเสริมการขาย และการลูกค้าสัมพันธ์ เช่น การส่งข้อมูลเกี่ยวกับโปรโมชั่น
                        ผลิตภัณฑ์และบริการ รายการส่งเสริมการขาย และธุรกิจพันธมิตร</li>
                    <li>เพื่อเป็นช่องทางในการสื่อสาร ตอบคำถาม</li>
                </ul>
            </li>
        </ol>
        </p>
        <br>
        <p>
        <h5>บุคคลที่ข้อมูลส่วนบุคคลอาจถูกเปิดเผย</h5>
        </p>
        <p>เราอาจเปิดเผยหรือถ่ายโอนข้อมูลส่วนบุคคลของท่านไปยังบุคคลที่สาม ซึ่งอาจตั้งอยู่ภายในหรือนอกประเทศไทย
            ซึ่งเป็นประเทศที่มีมาตรฐาน
            การคุ้มครองข้อมูลส่วนบุคคลอย่างเพียงพอและเป็นไปตามหลักเกณฑ์การให้ความคุ้มครองข้อมูลส่วนบุคคลที่กฎหมายกำหนด
            และเราจะดำเนินตาม มาตรการที่จำเป็นและเหมาะสม หรือเป็นไปตามข้อบังคับและกฎหมาย
            เพื่อวัตถุประสงค์ที่ตามระบุไว้ข้างต้น ให้แก่บุคคลดังต่อไปนี้
        <ul>
            <li>บริษัทในเครือข่าย ธุรกิจคู่ค้า และธุรกิจพันธมิตร</li>
            <li>ตัวแทน ผู้ให้บริการ หรือคู่ค้าที่ให้บริการแก่เรา หรือดำเนินการใดๆ ในฐานะตัวแทนของเรา เช่น
                ผู้ให้บริการด้านเทคโนโลยีสารสนเทศ</li>
            <li>หุ้นส่วนทางธุรกิจ เช่น โรงแรม บริษัทรถเช่า บริษัทประกัน
                พันธมิตรที่เข้าร่วมรายการโปรแกรมสะสมคะแนนและสิทธิประโยชน์ และบริษัทอื่นๆ
                ที่เกี่ยวข้องในการให้บริการแก่ท่าน
                หรือตอบสนองตามวัตถุประสงค์ข้างต้น</li>
            <li>ธนาคาร และผู้ให้บริการชำระเงิน เช่น บริษัทบัตรเครดิต หรือเดบิต</li>
            <li>เจ้าหน้าที่ หรือหน่วยงานรักษาความมั่นคงและความปลอดภัย</li>
            <li>หน่วยงานตรวจคนเข้าเมือง และหน่วยงานศุลกากร</li>
            <li>หน่วยงานภาครัฐ หน่วยงานกำกับดูแล และหน่วยงานอื่นๆ ตามที่กฎหมายอนุญาต หรือกำหนดไว้</li>
        </ul>
        </p>
        <br>
        <p>
        <h5>
            การเชื่อมโยงไปยังเว็บไซต์บุคคลที่สาม</h5>
        </p>
        <p>เว็บไซต์และแอปพลิเคชันบนมือถือของเรา อาจมีลิงก์เชื่อมไปยังเว็บไซต์บุคคลที่สาม
            หากท่านไปตามลิงก์เหล่านี้ นโยบายความเป็นส่วนตัวนี้ ไม่ครอบคลุมไปถึงเว็บไซต์ของบุคคลที่สาม ดังนั้น
            การที่บุคคลที่สามประมวลผลข้อมูลส่วนบุคคลของท่านจึงอยู่นอกเหนือการควบคุมของเรา
            และโปรดทราบว่าเราไม่มีส่วนเกี่ยวข้องและความรับผิดใดๆ จากการกระทำของบุคคลที่สามดังกล่าว
        </p>
        <br>
        <p>
        <h5>
            การเก็บรักษาข้อมูลส่วนบุคคล และความปลอดภัย</h5>
        </p>
        <p> ข้อมูลส่วนบุคคลของท่านจะถูกเก็บรักษาไว้นานเท่าที่จำเป็น เพื่อวัตถุประสงค์ต่างๆ
            ที่อธิบายไว้ในนโยบายความเป็นส่วนตัวนี้ หรือภายใต้ ข้อบังคับของกฎหมาย หรือเพื่อการดำเนินการทางกฎหมาย
            เมื่อพ้นระยะเวลาดังกล่าวแล้ว หากท่านไม่แสดงความยินยอม ให้เราทำการประมวลผล ข้อมูลส่วนบุคคลของท่านต่อไป
            เราจะดำเนินการทำลายข้อมูลส่วนบุคคลนั้นตามขั้นตอนการทำลายข้อมูลของเราและจะดำเนินการให้เสร็จโดยไม่ชักช้า
        </p>
        <br>
        <P>
            เราจะใช้มาตรการทางเทคนิค และการบริหารจัดการที่เหมาะสมเพื่อป้องกัน
            และรักษาความปลอดภัยของข้อมูลส่วนบุคคลของท่าน ที่เราเก็บรวบรวม เช่น เราใช้โปรโตคอลความปลอดภัย (Secure Sockets
            Layer: SSL) สำหรับการเข้ารหัสข้อมูลผ่านทางอินเทอร์เน็ต และเราจะจำกัดการเข้าถึงข้อมูลของท่าน
            ไม่ว่าที่จัดเก็บในระบบอินเทอร์เน็ต หรือในรูปแบบเอกสารไว้เฉพาะบุคลากร ที่มีความจำเป็นต้องประมวลผล
            ข้อมูลส่วนบุคคลนั้น
            และจัดเก็บในสถานที่ที่มีระบบป้องกันการเข้าถึงโดยจำกัดบุคคลที่สามารถเข้าถึงได้สำหรับข้อมูลส่วนบุคคลที่อยู่ในรูปแบบเอกสาร
        </P>
        <br>
        <P>
        <h5>
            สิทธิเกี่ยวกับข้อมูลส่วนบุคคลของท่าน</h5>
        </P>

        <p>ท่านอาจติดต่อเรา/เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล/เจ้าหน้าที่ที่เกี่ยวข้องเพื่อยื่นคำร้องขอดำเนินการใช้สิทธิของท่านดังต่อไปนี้
        <ul>
            <li>ท่านมีสิทธิเข้าถึงข้อมูลของท่านที่เราเก็บรักษาไว้ รวมถึงขอรับสำเนาข้อมูล
                และขอให้โอนย้ายข้อมูลส่วนบุคคลของท่าน ที่ท่านให้ไว้กับเรา ไปยังผู้ควบคุมข้อมูลรายอื่นหรือตัวท่านเอง</li>
            <li>ท่านมีสิทธิคัดค้าน หรือระงับการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลของท่านได้</li>
            <li>ท่านมีสิทธิขอให้เราแก้ไขข้อมูลที่ไม่ถูกต้อง หรือเพิ่มเติมข้อมูลที่ไม่สมบูรณ์ได้ และอาจขอให้เราลบ
                หรือทำลาย
                หรือเปิดเผยแหล่งที่มา ของข้อมูล ของท่านในกรณีที่ไม่ได้ให้ความยินยอมได้</li>
            <li>ในกรณีที่ท่านพบว่าเรา หรือบุคลากรของเราใช้ หรือเปิดเผยข้อมูลของท่าน
                ไม่เป็นไปตามที่ท่านได้ให้ความยินยอมไว้
                หรือไม่เป็นการประมวลผล ตามที่มีสิทธิตามกฎหมาย
                ท่านมีสิทธิร้องเรียนต่อคณะกรรมการคุ้มครองข้อมูลส่วนบุคคลได้</li>
            <li>ใท่านมีสิทธิในการเพิกถอนความยินยอมในการประมวลผลข้อมูลส่วนบุคคลตามที่ท่านได้ให้ความยินยอมกับเราได้ตลอดระยะเวลา
                ที่ข้อมูลส่วนบุคคลของท่านอยู่กับเรา
                เว้นแต่มีข้อจำกัดสิทธิในการเพิกถอนความยินยอมโดยกฎหมายหรือโดยสัญญาที่ให้ประโยชน์แก่ท่าน</li>
            <li>อย่างไรก็ตาม การที่ท่านได้เพิกถอนความยินยอมในการประมวลผลข้อมูลส่วนบุคคลใด
                อาจส่งผลให้เรามีข้อมูลไม่เพียงพอต่อการประมวลผล ให้บรรลุวัตถุประสงค์ตามที่ได้แจ้ง
                และท่านอาจขาดความสะดวกในการได้รับบริการจากเรา</li>
        </ul>
        </P>
        <br>
        <P>
        <h5>
            ช่องทางการติดต่อเรา</h5>
        </p>
        <p>หากท่านต้องการใช้สิทธิใดๆ ตามนโยบายความเป็นส่วนตัวนี้ กรุณาดำเนินการเป็นลายลักษณ์อักษร
            พร้อมแนบสำเนาหลักฐานเพื่อแสดงตัวตน และหากท่านมีคำถาม ข้อเสนอแนะ
            ข้อร้องเรียนเกี่ยวกับนโยบายความเป็นส่วนตัวนี้ ท่านสามารถติดต่อเจ้าหน้าที่ คุ้มครองข้อมูลส่วนบุคคลได้
            โดยติดต่อที่ 0886739000 หรือติดต่อตามที่อยู่นี้...</p>
        <p> บริษัท บริษัท เทเลคอร์ป จำกัดจำกัด</p>
        <p> เลขที่ 216/52 มบ.ซิตี้ลิงค์ ถ.คู่ขนานกาญจนาภิเษก แขวงสะพานสูง เขตสะพานสูง กรุงเทพฯ 10250</p>
        <p>เบอร์โทรศัพท์ 088-673-9000 </p>
        <p> อีเมล์ trin.bo@telecorp.co.th</p>

        <P> ทั้งนี้ข้อมูลที่ต้องแจ้งให้เราทราบ ได้แก่
        <ul>
            <li>ชื่อ สกุล เลขที่บัตรประจำตัวประชาชน / เลขหนังสือเดินทาง</li>
            <li>เรื่องที่ต้องการติดต่อสอบถาม รายละเอียดของข้อผิดพลาดที่เกิดขึ้น</li>
            <li>เบอร์โทรและที่อยู่ที่สามารถติดต่อได้ รวมทั้งที่อยู่สำหรับการส่งจดหมายอิเล็กทรอนิกส์ ( E-mail) ของท่าน
            </li>
        </ul>
        </P>
        <br>
        <P>
        <h5>
            การเปลี่ยนแปลงนโยบายความเป็นส่วนตัว</h5>
        </P>
        <p>เราอาจทบทวนและเปลี่ยนแปลงนโยบายความเป็นส่วนตัวนี้เป็นครั้งคราวเพื่อให้สอดคล้องกับการเปลี่ยนแปลงของการให้บริการ
            และการดำเนินงานของเรา ข้อเสนอแนะและความคิดเห็นจากท่าน รวมถึงข้อกฎหมายที่เกี่ยวข้อง โดยนโยบายเวอร์ชันล่าสุด
            จะประกาศบนเว็บไซต์ของเราที่ http://telecorpthailand.com/  เพื่อให้ท่านทราบแนวทางที่เราใช้ในการปกป้องข้อมูลส่วนบุคคลของท่าน
            นโยบายความเป็นส่วนตัวนี้ มีผลใช้บังคับตั้งแต่วันที่ 12 พฤษภาคม 2564
        </P>
    </div>
</section>


{% endblock %}